body{
    color: #f5f5f7;
    font-family: 'Lexend Deca', sans-serif;
    background-color:  #121212;
}

/* nav */

nav {
    background-color: #121212;
    display: inline-block;
    height: 4rem;
  }
  
  .nav-align {
    margin-left: auto;
    margin-right: 12rem;
  }
  
  .brand {
    margin-top: 1rem;
    margin-left: 13rem; 
  }

  ul li {
    margin: 0.1rem;
    padding: 2px;
  }
  
  nav h2{
    font-weight: 700;
    color: #e62b1e;
  }

  .brand:hover{
    text-decoration: none;
  }

  ul li a:after, a.active:after {
      content:'';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #e62b1e ;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.3s;
  }
  ul li a:hover:after{
      transform-origin: bottom left;
                  transform: scaleX(1);
                 
             }
  
  
  ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    font-weight: 700;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: rgb(187, 183, 183);
  }

  ul li a:hover{    
    text-decoration: none;
    color: white;
  }
/* nav */

.container{
    margin-top: 8rem;
}

.about-head{
    font-weight: 700;
    font-size: 2.6rem;
}

.about-content h3{
    font-size: 1.07rem;
    color: rgb(189, 186, 186);
}

.about-content h3 span{
  color: #e62b1e;
  font-weight: bold;
}

.collage-phone{
  display: none;
}

.collage{
  margin-top: 2.2rem;
  width: 37rem;
}

.tedx-logo{
  width: 37rem;
}

@media (max-width: 576px){
  #navbarNav {
      margin-left: 0%;
      margin-top: 1%;
      width: 100%;
  }

  .nav-logo{
      margin-left: 0%;
  }

  .brand{
      margin-left: 0rem;
  }

  .nav{
      background-color: #121212;
      width: 100%;
      margin: 0rem;
  }

  .nav-align{
      margin-left: 0rem;
      margin-right: 0rem;
  }

  .nav-link{
    padding-left: 2rem;
  }

  ul li a{
    margin-left: 0.5rem;
  }

  .collage-laptop{
    display: none;
  }

  .collage-phone{
    display: inline;
  }

  .about-content h3{
    font-size: 1rem;
  }

  .collage{
    margin-top: 0rem;
    width: 20rem;
  }

  .tedx-logo{
    width: 20rem;
  }
}