body{
    color: #f5f5f7;
    font-family: 'Lexend Deca', sans-serif;
    background-color:  #121212;
}

/* nav */

nav {
    background-color: #121212;
    display: inline-block;
    height: 4rem;
  }
  
  .nav-align {
    margin-left: auto;
    margin-right: 12rem;
  }
  
  .brand {
    margin-top: 1rem;
    margin-left: 13rem; 
  }

  ul li {
    margin: 0.1rem;
    padding: 2px;
  }
  
  nav h2{
    font-weight: 700;
    color: #e62b1e;
  }

  .brand:hover{
    text-decoration: none;
  }

  ul li a:after, a.active:after {
      content:'';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #e62b1e ;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.3s;
  }
  ul li a:hover:after{
      transform-origin: bottom left;
                  transform: scaleX(1);
                 
             }
  
  
  ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    font-weight: 700;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: rgb(187, 183, 183);
  }

  ul li a:hover{    
    text-decoration: none;
    color: white;
  }
/* nav */

.team-head{
    margin-top: 7rem;
    font-weight: 700;
    font-size: 2.6rem;
}

.card-head{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.card-desig{
    font-size: 1rem;
    color: grey;
}

.card-body{
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-subtitle{
    margin-bottom: -0.4rem;
}

.card-title{
    margin-top: -0.4rem;
}

.card-img-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
}

.card{
    transform: scale(0.8);
    background-color: black;
    border-radius: 10px;
}

.icons{
    font-size: 1.5rem;
    margin-bottom: -0.4rem;
}

.icons a{
    text-decoration: none;
    color: white;
}

.gap{
    margin-bottom: -4rem;
}

.h-gap1{
    margin-left: -2.5rem;
    margin-right: -1.25rem;
}

.h-gap2{
    margin-right: -2.5rem;
    margin-left: -1.25rem;
}